* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: grey;
  }
  .container {
    width: 100px;
    height: 25px;
    background-image: linear-gradient(
      90deg,
      rgba(165, 221, 27, 1) 20.049614522327964%,
      rgba(165, 221, 27, 1) 71.13078216508055%,
      rgba(39, 38, 39, 1) 71.35882309205711%,
      rgba(39, 38, 39, 1) 73.52521189833458%,
      rgba(165, 221, 27, 1) 73.52521189833458%,
      rgba(165, 221, 27, 1) 74.77943699670571%
    );
    box-shadow: inset 0px 6px 4px rgba(245, 245, 245, 0.5),
      inset 0px -6px 4px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    animation: animee 3s ease infinite;
    /* animation-direction: alternate; */
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-right: 25px solid rgba(165, 221, 27, 1);
  }
  .container::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 12px;
    width: 50px;
    height: 2px;
    background-color: rgb(82, 80, 82);
    border-radius: 2px;
  }
  span {
    position: absolute;
    left: 31%;
    width: 0;
    height: 5px;
    background-color: greenyellow;
    animation: animeB 3s ease infinite;
    /* animation-direction: alternate; */
  }
  @keyframes animeB {
    0% {
      width: 0;
    }
    25% {
      width: 0;
    }
    50% {
      width: 500px;
    }
    75% {
      width: 500px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes animee {
    0% {
      transform: translateY(-55px) skew(35deg, -35deg) translate(-120px, -85px)
        rotateZ(180deg);
    }
    25% {
      transform: translateY(-55px) skew(35deg, -35deg) translate(-120px, -85px)
        rotateZ(0deg);
    }
  
    50% {
      transform: translateY(-55px) skew(35deg, -35deg) translate(210px, 150px)
        rotateZ(0deg);
    }
    75% {
      transform: translateY(-55px) skew(35deg, -35deg) translate(210px, 150px)
        rotateZ(180deg);
    }
  
    100% {
      transform: translateY(-55px) skew(35deg, -35deg) translate(-120px, -85px)
        rotateZ(180deg);
    }
  }
  